<div class="tasks-wrapper">
  <ul class="filter">
    <li (click)="checkAll()">CHECK ALL</li>
    <li (click)="uncheckAll()">UNCHECK ALL</li>
    <li (click)="removeFinished()">REMOVE FINISHED</li>
  </ul>
  <ul class="tasks">
    <li *ngFor="let todo of list" class="task">
      <fr-checkbox [(ngModel)]="todo.finished" (ngModelChange)="updateTaskStatus(todo)">{{todo.task}}</fr-checkbox>
      <span class="icons">
        <!-- pencil -->
        <span class="icon" (click)="returnToForm(todo)">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
            <g transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 13.336039, -4.363963)">
            <rect x="7" y="5" width="7" height="16" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <rect x="7" y="2" width="7" height="2" style="fill: rgba(0, 0, 0, 0.560784);"/>
            <path d="M -10.5 -25.86 L -7 -21 L -14 -21 L -10.5 -25.86 Z" transform="matrix(-1, 0, 0, -1, 0, 0)" style="fill: rgba(0, 0, 0, 0.560784);" bx:shape="triangle -14 -25.86 7 4.86 0.5 0 1@8bac0b8a"/>
            </g>
          </svg>
        </span>
        <!-- times -->
        <span class="icon" (click)="removeTask(todo)">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g transform="matrix(1, 0, 0, 1, 0.413595, 1.000623)">
            <rect x="10" y="1.09" width="5" height="24" transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 12.25665, -6.842439)" style="fill-rule: evenodd; fill: rgb(93, 93, 93);"/>
            <rect x="10" y="1.09" width="5" height="24" transform="matrix(-0.707107, 0.707107, -0.707107, -0.707107, 29.93433, 11.669622)" style="fill-rule: evenodd; fill: rgb(93, 93, 93);"/>
            </g>
          </svg>
        </span>
      </span>
    </li>
  </ul>
</div>
